@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1e293b;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}